POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

PORTFOLIO_DB=portfolio_db
ORDERS_DB=orders_db
HISTORY_DB=history_db
KEYCLOAK_DB=keycloak_db

PORTFOLIO_DB_PORT=5433
ORDERS_DB_PORT=5434
HISTORY_DB_PORT=5435
KEYCLOAK_DB_PORT=5436

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_PORT=8080

MARKET_DATA_PORT=8081
PORTFOLIO_PORT=8082
ORDERS_PORT=8083
HISTORY_PORT=8084
API_GATEWAY_PORT=8085

KEYCLOAK_ISSUER_URI=http://keycloak:8080/realms/tpi

PORTFOLIO_DB_URL=jdbc:postgresql://portfolio-db:5432/portfolio_db
PORTFOLIO_DB_USER=postgres
PORTFOLIO_DB_PASSWORD=postgres

ORDERS_DB_URL=jdbc:postgresql://orders-db:5432/orders_db
ORDERS_DB_USER=postgres
ORDERS_DB_PASSWORD=postgres

HISTORY_DB_URL=jdbc:postgresql://history-db:5432/history_db
HISTORY_DB_USER=postgres
HISTORY_DB_PASSWORD=postgres

MARKET_DATA_BASE_URL=http://market-data-service:8081
PORTFOLIO_BASE_URL=http://portfolio-service:8082
ORDERS_BASE_URL=http://orders-service:8083
HISTORY_BASE_URL=http://history-service:8084

