POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

PORTFOLIO_DB=portfolio_db
ORDERS_DB=orders_db
HISTORY_DB=history_db
KEYCLOAK_DB=keycloak_db

PORTFOLIO_DB_PORT=5433
ORDERS_DB_PORT=5434
HISTORY_DB_PORT=5435
KEYCLOAK_DB_PORT=5436

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_PORT=8080

